<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>About the NorCal Time Trials Series</title>
</head>
<body>
    <table>
     
        <tr>  
            <td rowspan="2"><img src="C:\Users\andre\NorCal-Time-Trials-Website\assets\images\LOGO.png" alt="Wheel Logo" width="150" height="150"></td>
            <th><h1>NorCal Time Trials Series</h1></th>
          
        </tr>
   
        <tr>    
            <td>Home | About | Contact</td>
       
        </tr>
        
       
    </table>
    <table>
        <tr>
            <td rowspan="10"><img src="C:\Users\andre\NorCal-Time-Trials-Website\assets\images\Image 1.png" alt="Audi:
                United Autosports, CC BY-SA 2.0 <https://creativecommons.org/licenses/by-sa/2.0>, via Wikimedia Commons" width="150" height="150"></td>
            <td><h2>Upcoming Events</h2></td>
        </tr>

        <tr>
            <td>February 12</td>
            <td>&nbsp;Board Meeting</td>
        </tr>
                
                <tr>
                    <td>February 25</td>
                    <td>&nbsp;Drivers Zoom Meeting</td>
                </tr>
        
                
                <tr>
                    <td>March 12</td>
                    <td>&nbsp;First event at Thunderhill!</td>
                </tr>


        


    </table>






 
</body>
</html>

