<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>About the NorCal Time Trials Series</title>
</head>
<body>
    <h1>NorCal Time Trials Series</h1>
    <table>
        <tr>
            <h1>
                <th>Home |</th>
                <th>About |</th>
                <th>Company</th>
            </h1>
           
          </tr>
    </table>
    <h2>Upcoming Events</h2>
        <p>February 12</p>
        <p>&nbsp Board Meeting</p>

        <p>February 25</p>
        <p>&nbsp Drivers Zoom Meeting</p>

        <p>March 12</p>
        <p>&nbsp First event at Thunderhill!</p>



 
</body>
</html>

