<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>About the NorCal Time Trials Series</title>
</head>
<body>
    <img src="C:\Users\andre\NorCal-Time-Trials-Website\assets\images\LOGO.png" alt="Wheel Logo" width="150" height="150">
    <h1>NorCal Time Trial Series</h1>

        <nav>
            <a href="#">Home</a> |
            <a href="index.html">About</a> |
            <a href="contact.html">Contact</a>
        </nav>
     
            <img src="C:\Users\andre\NorCal-Time-Trials-Website\assets\images\Image 1.png" alt="Audi:
            United Autosports, CC BY-SA 2.0 <https://creativecommons.org/licenses/by-sa/2.0>, via Wikimedia Commons" width="150" height="150">

        <h2>Upcoming Events</h2>
            <p>February 12</p>
            <p>&nbsp;Board Meeting</p>
        
            <p>February 25</p>
            <p>&nbsp;Drivers Zoom Meeting</p>
             
          
            <p>March 12</p>
            <p>&nbsp;First event at Thunderhill!</p>
        

 
</body>
</html>

