<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../assets/styles/nctss_1.css">
<title>Contact Us @NorCal Times Series</title>
</head>
<body>
    <div id="background-img"></div>
    <h1>NorCal Time Trial Series</h1>
    <h2>Contact</h2>
    <img src="../assets/images/LOGO.png">


        <nav>
            <ul>
                <li><a href="basic.html">Home</a> </li>
                <li>  <a href="index.html">About</a> </li>
                <li> <a href="#">Contact</a></li>
            </ul>
            </nav>
            <p>Please email us at: info@nctts.org</p>
               
                      
                
            <p>We will reply as quickly as we can.</p>
                      
 
</body>
</html>

