<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<!-- <link rel="stylesheet" href="../assets/styles/nctss_1.css"> -->
<!--<link rel="stylesheet" href="../assets/styles/nctss_2.css">-->
<link rel="stylesheet" href="../assets/styles/nctss_3.css">

<title>Home NorCal Times Series</title>
</head>
<body>
    <div id="background-img"></div>
    <h1>NorCal Time Trial Series</h1>
    <h2>General Information</h2>
    <img src="../assets/images/LOGO.png">

    <div class="row">
        <div class="column">
            <nav>
                <ul>
                    <li class="button" id="basic"><a  href="basic.html#basic">Home</a> </li>
                    <li class="button" id="index"><a  href="index.html#index">About</a> </li>
                    <li class="button" id ="contact"><a  href="contact.html#contact">Contact</a></li>
                </ul>
                </nav>
        </div>


     
            <div class="column">

                <p class="title">&nbsp;<!DOCTYPE html>
                    <html lang="en">
                    <head>
                    <meta charset="utf-8">
                    <!-- <link rel="stylesheet" href="../assets/styles/nctss_1.css"> -->
                    <!--<link rel="stylesheet" href="../assets/styles/nctss_2.css">-->
                    <link rel="stylesheet" href="../assets/styles/nctss_3.css">
                    
                    <title>Home NorCal Times Series</title>
                    </head>
                    <body>
                        <div id="background-img"></div>
                        <h1>NorCal Time Trial Series</h1>
                        <h2>About NCTTS</h2>
                        <img src="../assets/images/LOGO.png">
                    
                        <div class="row">
                            <div class="column">
                                <nav>
                                    <ul>
                                        <li class="button" id="basic"><a  href="basic.html#basic">Home</a> </li>
                                        <li class="button" id="index"><a  href="index.html#index">About</a> </li>
                                        <li class="button" id ="contact"><a  href="contact.html#contact">Contact</a></li>
                                    </ul>
                                    </nav>
                            </div>
                    
                    
                         
                                <div class="column">
                    
                                    <p class="title">&nbsp;Locations</p>        
                                    <p>&nbsp;Sonoma Raceway (formerly called Sears Point)    
                                    <br>
                                    &nbsp;29355 Arnold Dr, Sonoma, CA</p>
                                    <p>nbsp;</p>
                                    <p></p>
                                    <p>nbsp;</p>
                                    <p></p>
                                </div>
                    
                               
                                
                    
                        </div>
                    
                           
                    </body>
                    </html>
                    
                    </p>        

               


            </div>

           
            

    </div>

       
</body>
</html>

