<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../assets/styles/nctss_1.css">
<title>Home NorCal Times Series</title>
</head>
<body>
    <div id="background-img"></div>
    <h1>NorCal Time Trial Series</h1>
    <h2>About NCTTS</h2>
    <img src="../assets/images/LOGO.png">

    <div class="row">
        <div class="column">
            <nav>
                <ul>
                    <li><a href="basic.html">Home</a> </li>
                    <li><a href="#">About</a> </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                </nav>
        </div>


     
            <div class="column">

                <p class="title">&nbsp;Mission</p>        
                <p>&nbsp;To quote https://24hoursoflemons.com/:<br>
                &nbsp;“Racing shouldn’t just be for rich idiots. Racing should be for all idiots.”</p>
               
            <p class="title">&nbsp;Vision</p>          
                <p>&nbsp;The NorCal Time Trial Series aspires to make the excitement of competitive<br>
                &nbsp;racing events on iconic Northern California racetracks available to all<br> 
                &nbsp;enthusiasts without the costs or risks of wheel-to-wheel racing.</p>
                      
                            
            
            <p class="title">&nbsp;General Information</p>
                <p>&nbsp;The NorCal Time Trial Series will hold at least one event per month on a <br>
                &nbsp;track such as Sonoma Raceway, Thunderhill Raceway, or WeatherTech <br>
                &nbsp;Raceway at Laguna Seca. Full safety equipment is required, and your car <br>
                &nbsp;must pass technical inspection before you can compete.</p>

            </div>

           
            

    </div>

       
</body>
</html>

