#background-img {
    
    background-image: url("../images/AlternativeImage.jpg");
    height: 500px; /* You must set a specified height */
    background-position: center;
    margin-top: 100px;
    

   }

   h1 {
    top: 6px;
    margin-left: 100px;
    font-size: 50px;
    position: absolute;
 
  }

  img{
    
    position: absolute;
    top: 45px;
    left: 40px;
    height: 50px;
    width: 50px;
   }

   .button {
    background-color: rgb(59, 59, 199);
    border: solid;
    border-radius: 10%;
    padding: 15px 32px;
    
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }

  :target {
    background-color: green;
}
a{
    color: aliceblue;
   }

   ul {
    list-style-type: none; /* Remove bullets */
    display:flex;  
    list-style:none;
    position: absolute;
    top: 20px;
    right: 40px;
    
  }
ul li{
margin-left: auto;

}
a:link {
    text-decoration: none;
}



.column {
  text-align: left;
  padding-left: 200px;
  padding-right: 200px;
  }


h2{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

.title{
    font-size: larger;
    font-weight: bold;
  }

p{
    font-size: large;
    line-height: 32px;
}

.italic{
  font-style: italic;
}

.bold{
  font-weight: bold;
}
ol{
  padding: 10px;
}

ol > li::marker {
  font-weight: bold;
}

 
 